body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(105, 208, 248) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

  h1{  
    position: absolute;
width: 691px;
height: 186px;
left: 424px;
top: 45px;

font-family: 'Sansation';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 107px;

color: #000000;

}

h2[type = til]{ 
  position: absolute;
width: 1043px;
height: 68px;
left: 135px;
top: 149px;

font-family: 'Rambla';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
   
}

h2[type = p1]{ 
  position: absolute;
width: 362px;
height: 75px;
left: 47px;
top: 608px;

font-family: 'Rambla';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #000000;
   
}

button[type = one]{ 
  position: absolute;
  width: 363px;
  height: 306px;
  left: 46px;
  top: 295px;
  
  background: #C4C4C4;
}

h2[type = p2]{ 
  position: absolute;
  width: 362px;
  height: 75px;
  left: 541px;
  top: 608px;
  
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  
  color: #000000;
  
}

button[type = two]{ 
  position: absolute;
width: 363px;
height: 306px;
left: 541px;
top: 295px;

background: #C4C4C4;
}

h2[type = p3]{ 
  position: absolute;
width: 362px;
height: 75px;
left: 1051px;
top: 608px;

font-family: 'Rambla';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #000000;
}

button[type = three]{ 
  position: absolute;
width: 363px;
height: 306px;
left: 1037px;
top: 295px;

background: #C4C4C4;
}

button[type = four]{ 
  position: absolute;
  width: 163px;
  height: 73px;
  left: 625px;
  top: 901px;
  
}
